<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="GitTestProjectLocation" value="F:\Test\Repo1"/>
        <add key="GitEmptyTestProjectLocation" value="F:\Test\EmptyRepo1"/>
        <add key="GitTestCloneLocation" value="F:\Test\UnitTestRepo"/>
        <add key="GitInstallLocation" value="C:\Program Files (x86)\Git\bin\git.exe"/>
    </appSettings>
</configuration>